@use '@bemuse/ui/common.scss';

.container {
  width: 24em;
  max-width: 80vw;
}

.input {
  @include common.input;

  width: 100%;
  box-sizing: border-box;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 8em;
  margin-top: 0.5em;
  background: #252423;
  border: 1px solid #555453;
  border-radius: 4px;
}

.menu > li[data-highlighted='true'] {
  background-color: #8b8685;
  color: #fff;
}

.menu > li {
  padding: 0.5ex 1.3ex;
}
