@use '@bemuse/ui/common.scss';

.scene {
  @include common.scene-background(url(@bemuse/ui/images/bg/c.jpg));
}

.wrapper {
  padding: 1em;
  width: 32em;
  max-width: 90vw;
  box-sizing: border-box;
}

.stack {
  @include common.input;

  color: #faa;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 16em;
  margin: 0 0 0.5em;
  font-family: Menlo, Consolas, monospace;
  font-size: 0.72em;
}
