.container {
  display: flex;
  gap: 2rem;

  & > * {
    flex: 50% 1 1;
  }
}

.cardBody {
  padding: 1rem;
}

.largeInput {
  width: 32em;
}

.smallInput {
  width: 8em;
}

.submitButton {
  text-align: right;
}

.indent {
  margin-left: 2rem;
}

.flowStack > :not(:first-child) {
  padding-top: 1rem;
}
