@use 'sass:color';
@use 'sass:string';
@use '@bemuse/ui/common.scss';

.selectorItem {
  list-style: none;
  height: 4.5rem;
  line-height: 4.25rem;
  font-size: 2rem;
  text-align: center;
  background: rgba(#fff, 0.8);
  border-radius: 0.8rem;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  &[data-active='true'] {
    color: white;
  }
  &:not([data-tutorial='true'])[data-active='true']:hover,
  &[data-replayable='true']:hover {
    .level {
      opacity: 0;
    }
    .play {
      opacity: 1;
    }
  }
}

.level {
  opacity: 1;
  transition: 0.3s opacity;
}

.play {
  @include common.centered;

  opacity: 0;
  transition: 0.3s opacity;
}

@mixin music-chart-selector-item--color($color, $name, $selector) {
  $animation-name: music-chart-selector-item--active-#{$name};
  .selectorItem {
    #{string.unquote($selector)} {
      border: 2px solid $color;
      &[data-active='true'] {
        background: #8ac;
        animation: 3s #{$animation-name} infinite;
      }
    }
  }
  @keyframes #{$animation-name} {
    $color1: color.adjust($color, $lightness: 10%);
    $color2: color.adjust($color, $lightness: -10%);
    0% {
      background: $color1;
    }
    50% {
      background: $color2;
    }
    100% {
      background: $color1;
    }
  }
}

@include music-chart-selector-item--color(#8ac, normal, '&');
@include music-chart-selector-item--color(#ac8, 5k, "&[data-keys='5K']");
@include music-chart-selector-item--color(
  #c66,
  insane,
  "&[data-insane='true']"
);
