.tabStats {
  overflow: hidden;
}

.message {
  text-align: center;
}

.column {
  width: 45%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & > dt {
    float: left;
    clear: left;
    font-size: 1em;
    line-height: 1;
    padding: 1em 0 0.5em;
  }
  & > dd {
    float: right;
    text-align: right;
    font-size: 1.5em;
    line-height: 1;
    padding: 0.45em 0 0;
    & small {
      font-size: 0.5em;
      font-weight: 600;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
