.container {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  & > * {
    min-width: 4.5rem;
    flex: 0 0;
  }

  &[data-tutorial='true'] {
    flex-direction: column;
  }
}
