@use '@bemuse/ui/common.scss';

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li:first-child {
    margin-top: 0;
  }
}

.item {
  margin: 0.8rem 0;
}

.groupTitle {
  margin: 1.2rem 0 0.8rem;
  text-align: center;
  color: rgba(black, 0.6);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(white, 0.5);
}
