@use '@bemuse/ui/common.scss';

.container {
  @include common.full-screen;

  background: rgba(#111, 0.5);
  overflow: hidden;
  z-index: 10000;

  &[data-visible='true'] {
    display: none;
  }
}

.scroller {
  @include common.full-screen;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.contentsContainer {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  position: relative;
}
