@use '@bemuse/ui/common.scss';

.SceneHeading {
  @include common.soft-shadow;
  background: white;
  margin: 0;
  padding: 0 20px;
  font: bold 2rem common.$ui-font;
  line-height: 40px;
  color: black;
  padding-left: 70px;
  @media (min-width: 720px) {
    font-size: 3.6rem;
    padding: 0 4rem;
    line-height: 1.67em;
  }
}
