@use '@bemuse/ui/common.scss';

.Scene {
  @include common.full-screen;
  overflow: hidden;
  font-family: common.$ui-font;
  > .SceneHeading {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    @media (min-width: 720px) {
      top: 2rem;
    }
  }
  > .SceneToolbar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
