.container {
  background: rgba(#fff, 0.96);
  color: #191817;
  text-align: center;
  padding: 25px 0px;
  box-shadow: 0 2px 18px rgba(#000, 0.2);
}

.genre {
  font-size: 1.2rem;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 2.4rem;
}

.artist {
  font-size: 1.6rem;
  margin-top: 0.8ex;
}

.subartist {
  font-size: 1rem;
}
