.container {
  color: #333;
  font-size: 11px;
}

.progressBar {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.extra {
  font-size: 83%;
  opacity: 0.7;
}
