@use '@bemuse/ui/common.scss';
@use 'options-input-common';

.OptionsInputKey {
  &のcontents {
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.1);
    border-radius: 4px;
  }
  @mixin color($color) {
    .OptionsInputKeyのcontents {
      @include options-input-common.options-input-button($color);
    }
  }
  &のtext {
    @include options-input-common.options-input-button--text;
  }
  @include color(#feb);
  &[data-n='2'],
  &[data-n='6'] {
    @include color(#abf);
  }
  &[data-n='4'] {
    @include color(#bfa);
  }
}
