@use '@bemuse/ui/common.scss';

.UnofficialPanel {
  max-width: 30em;
  &のcontent {
    padding: 1em;
    > p {
      margin: 0;
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
  &のbuttons {
    text-align: right;
  }
}
