@use '@bemuse/ui/common.scss';

.ModalPopup {
  @include common.full-screen;
  background: rgba(#111, 0.5);
  overflow: hidden;
  z-index: 10000;
  &のscroller {
    @include common.full-screen;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  &のcontentsContainer {
    position: absolute;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &のcontents {
    position: relative;
  }
  &:not(.is-visible) {
    display: none;
  }
}
