@use '@bemuse/ui/common.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  font-size: 15px;
}

.second {
  order: 2;
}

.first {
  order: 1;
}

.panel {
  margin: 0.8em;
}
