@use '@bemuse/ui/common.scss';

.input {
  display: flex;
  flex-direction: column;
}

.binding {
  display: flex;
  align-items: stretch;
  padding: 2em;

  &[data-scratch='right'] {
    flex-direction: row-reverse;
  }
}

.zone {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 12px;
}

.control {
  flex: 1;
}

.title {
  text-align: center;
  padding-top: 1ex;
  color: #8b8685;
}

.gamepad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.group {
  display: flex;
  align-items: baseline;
}

.group > label {
  font-weight: bold;
  color: #8b8685;
  margin-right: 1em;
}

.sensitivity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5em;
}

.sensitivity > .inputField {
  text-align: center;
  width: 1em;
  border-radius: 0;
  margin-left: -1px;
}

.minus {
  width: 2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.plus {
  width: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
