@use '@bemuse/ui/common.scss';

.Options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  font-size: 15px;
  &のa {
    order: 2;
  }
  &のb {
    order: 1;
  }
  .Panel {
    margin: 0.8em;
  }
}
