@use '@bemuse/ui/common.scss';
@use 'options-input-common';

@mixin color($color) {
  .contents {
    @include options-input-common.options-input-button($color);
  }
}

.key {
  @include color(#feb);
  &[data-n='2'],
  &[data-n='6'] {
    @include color(#abf);
  }
  &[data-n='4'] {
    @include color(#bfa);
  }
}

.contents {
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.1);
  border-radius: 4px;
}

.text {
  @include options-input-common.options-input-button--text;
}
