.container {
  padding: 96px 16px 138px;
  font-size: 20px;
  line-height: 32px;
  max-width: 700px;
  margin: 0 auto;

  @media (max-width: 720px) {
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin: 1.6em 0 0;
  }
}

.heading {
  color: #e37d9a;
  margin: 1em 0 0;
  text-align: center;
  font-size: 36px;
  line-height: 64px;
  font-weight: 200;
  font-style: italic;

  &:first-child {
    margin-top: 0;
  }
}

.privacy {
  color: #8b8685;
  margin-top: 3.2em;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.6;
}
