on:
  workflow_dispatch:
    inputs:
      force:
        description: Whether forcing to publish a release
        required: true
        type: boolean
      release_version:
        description: Version to publish (vX.Y.Z)
        required: true
        type: string
  push:
    branches:
      - master

permissions:
  contents: write
  id-token: write
  pull-requests: write

name: Release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release_please
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
    outputs:
      release_created: ${{ steps.release_please.outputs.release_created }}
      tag_name: ${{ steps.release_please.outputs.tag_name }}

  publish:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ github.event.inputs.force || needs.release-please.outputs.release_created }}
    env:
      VERSION: ${{ inputs.release_version || needs.release-please.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      - name: Publish package to npm
        run: pnpm publish -r --provenance

      - name: Upload files
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -e
          echo "Creating tarball"
          tar cvzf raw.tar.gz --directory=packages/bemuse/dist/ .
          echo "Creating zip"
          pushd dist
          zip -r "$GITHUB_WORKSPACE/raw.zip" ./*
          popd
          echo "Uploading release assets"
          gh release upload ${{ env.VERSION }} raw.zip raw.tar.gz --clobber
